<!DOCTYPE html>
<html lang="en">
    <style>
        
    </style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {%load static%}
   <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
  <div class="img"></div>
    {% csrf_token %}
    <form method="post">
            <div class="container">
              <textarea id="textInput" placeholder="Enter your text here..." name="text"></textarea>
              <button>Click Me</button>
              <label id="outputLabel" style="color: {{color}};"> It is a {{ check }} mail !!!</label>
            </div>
    </form>

</body>
</html>
